@{

}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <a type="submit" asp-controller="Message" asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Text</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var message in Model)
                {
                    <tr>
                        <td>@message.Id</td>
                        <td>@message.Text</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>